# Ignore Play! working directory #
bin/
.eclipse
.history
/lib/
/logs/
/modules
/project/project
/project/target
/target
tmp/
test-result
server.pid
*.iml
*.eml
/dist/
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/.cache
/.SyncIgnore
/.ivy2
/.sbt
/.bash_history
/.scala_history
/.bloop
/.metals
/project/.bloop
/project/metals.sbt
/.vscode
/.bsp
